/* body {
    background-color: red;
} */

/* SELECCION POR TIPO O TAG */

/* p {
    font-size: 50px;
} */


/* SELECCIÓN POR CLASES */



.table-content {
    border: 1px solid #333;
}




/* SELECCIÓN POR ID */

#page-title {
    font-size: 28px;
    color: blue;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}


/* SELECCION ANIDADA */

.table-content td {
    border: 1px solid #333;
    margin: 0px;
}

.separator {
    height: 4px;
    width: 60%;
    background-color: blueviolet;
}

table {
    background-color: blue;
}

.table-content {
    border: 1px solid #333;
    background-color: pink;
}

#table-education {
    background-color: blueviolet;
}